@keyframes item {
	from	{ opacity: 0; transform: translate(-100%, 0); }
	to		{ opacity: 1; transform: none; }
}

@-o-keyframes item {
	from	{ opacity: 0; -o-transform: translate(-100%, 0); }
	to		{ opacity: 1; -o-transform: none; }
}

@-ms-keyframes item {
	from	{ opacity: 0; -ms-transform: translate(-100%, 0); }
	to		{ opacity: 1; -ms-transform: none; }
}

@-moz-keyframes item {
	from	{ opacity: 0; -moz-transform: translate(-100%, 0); }
	to		{ opacity: 1; -moz-transform: none; }
}

@-webkit-keyframes item {
	from	{ opacity: 0; -webkit-transform: translate(-100%, 0); }
	to		{ opacity: 1; -webkit-transform: none; }
}

@keyframes time {
	0%		{ background-color: rgba(70, 40, 0, 0.9); width: 100%; }
	75%		{ background-color: rgba(70, 40, 0, 0.9); }
	100%	{ background-color: rgba(255, 0, 0, 0.9); width: 0%; }
}

@-o-keyframes time {
	0%		{ background-color: rgba(70, 40, 0, 0.9); width: 100%; }
	75%		{ background-color: rgba(70, 40, 0, 0.9); }
	100%	{ background-color: rgba(255, 0, 0, 0.9); width: 0%; }
}

@-ms-keyframes time {
	0%		{ background-color: rgba(70, 40, 0, 0.9); width: 100%; }
	75%		{ background-color: rgba(70, 40, 0, 0.9); }
	100%	{ background-color: rgba(255, 0, 0, 0.9); width: 0%; }
}

@-moz-keyframes time {
	0%		{ background-color: rgba(70, 40, 0, 0.9); width: 100%; }
	75%		{ background-color: rgba(70, 40, 0, 0.9); }
	100%	{ background-color: rgba(255, 0, 0, 0.9); width: 0%; }
}

@-webkit-keyframes time {
	0%		{ background-color: rgba(70, 40, 0, 0.9); width: 100%; }
	75%		{ background-color: rgba(70, 40, 0, 0.9); }
	100%	{ background-color: rgba(255, 0, 0, 0.9); width: 0%; }
}

@keyframes hint {
	0%		{ opacity: 0; }
	50%		{ opacity: 0; }
	60%		{ opacity: 1; }
	90%		{ opacity: 1; }
	100%	{ opacity: 0; }
}

@-o-keyframes hint {
	0%		{ opacity: 0; }
	50%		{ opacity: 0; }
	60%		{ opacity: 1; }
	90%		{ opacity: 1; }
	100%	{ opacity: 0; }
}

@-ms-keyframes hint {
	0%		{ opacity: 0; }
	50%		{ opacity: 0; }
	60%		{ opacity: 1; }
	90%		{ opacity: 1; }
	100%	{ opacity: 0; }
}

@-moz-keyframes hint {
	0%		{ opacity: 0; }
	50%		{ opacity: 0; }
	60%		{ opacity: 1; }
	90%		{ opacity: 1; }
	100%	{ opacity: 0; }
}

@-webkit-keyframes hint {
	0%		{ opacity: 0; }
	50%		{ opacity: 0; }
	60%		{ opacity: 1; }
	90%		{ opacity: 1; }
	100%	{ opacity: 0; }
}
