.galleria{
    max-width: 100%;
    height: 700px;
    margin: 0 auto;
}
.galleria-info {
    display: block;
    height: 5em;
    border: none;
}
.galleria-info-text {
    display: block !important;
    background-color: white !important;
}
.galleria-info-title     {
    font-size: 3em !important;
    color: black !important;
}
.galleria-info-description     {
    display: none !important;
}