<!DOCTYPE html>
<html>
<head>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src="/galleria/galleria.js"></script>
    <script type='text/javascript' src='/javascripts/page.js'></script>
    <link rel="stylesheet" href="/stylesheets/page.css">
</head>
<body>
<div class="galleria">

    {{#each imgs}}
    <img src="{{path}}" data-title="{{title}}" data-description="{{title}}" alt="{{title}}" />
    {{/each}}

</div>
<p>
    Inspiration from : <a href="https://dropbox.github.io/nodegallerytutorial/">Dropbox nodegallerytutorial</a>
    and <a href="https://raw.githubusercontent.com/tensorflow/tensorflow/master/tensorflow/java/src/main/java/org/tensorflow/examples/LabelImage.java">TensorFlow Java Examples</a>
</p>
</body>
</html>