body {
	background-color: #F0F048;

	background-image: linear-gradient(
			-45deg, 
			#F0F048 6px, rgba(70, 40, 0, 0.3) 6px, rgba(70, 40, 0, 0.3) 7px, transparent 7px, 
			transparent 17px, rgba(70, 40, 0, 0.3) 17px, rgba(70, 40, 0, 0.3) 18px, transparent 18px
		),
		linear-gradient(
			225deg, 
			#F0F048 5px, rgba(70, 40, 0, 0.3) 5px, rgba(70, 40, 0, 0.3) 6px, transparent 6px
		),
		linear-gradient(
			225deg, 
			transparent 17px, rgba(70, 40, 0, 0.3) 17px, rgba(70, 40, 0, 0.3) 18px, transparent 18px
		);

	background-image: -o-linear-gradient(
			-45deg, 
			#F0F048 6px, rgba(70, 40, 0, 0.3) 6px, rgba(70, 40, 0, 0.3) 7px, transparent 7px, 
			transparent 17px, rgba(70, 40, 0, 0.3) 17px, rgba(70, 40, 0, 0.3) 18px, transparent 18px
		),
		-o-linear-gradient(
			225deg, 
			#F0F048 5px, rgba(70, 40, 0, 0.3) 5px, rgba(70, 40, 0, 0.3) 6px, transparent 6px
		),
		-o-linear-gradient(
			225deg, 
			transparent 17px, rgba(70, 40, 0, 0.3) 17px, rgba(70, 40, 0, 0.3) 18px, transparent 18px
		);

	background-image: -ms-linear-gradient(
			-45deg, 
			#F0F048 6px, rgba(70, 40, 0, 0.3) 6px, rgba(70, 40, 0, 0.3) 7px, transparent 7px, 
			transparent 17px, rgba(70, 40, 0, 0.3) 17px, rgba(70, 40, 0, 0.3) 18px, transparent 18px
		),
		-ms-linear-gradient(
			225deg, 
			#F0F048 5px, rgba(70, 40, 0, 0.3) 5px, rgba(70, 40, 0, 0.3) 6px, transparent 6px
		),
		-ms-linear-gradient(
			225deg, 
			transparent 17px, rgba(70, 40, 0, 0.3) 17px, rgba(70, 40, 0, 0.3) 18px, transparent 18px
		);

	background-image: -moz-linear-gradient(
			-45deg, 
			#F0F048 6px, rgba(70, 40, 0, 0.3) 6px, rgba(70, 40, 0, 0.3) 7px, transparent 7px, 
			transparent 17px, rgba(70, 40, 0, 0.3) 17px, rgba(70, 40, 0, 0.3) 18px, transparent 18px
		),
		-moz-linear-gradient(
			225deg, 
			#F0F048 5px, rgba(70, 40, 0, 0.3) 5px, rgba(70, 40, 0, 0.3) 6px, transparent 6px
		),
		-moz-linear-gradient(
			225deg, 
			transparent 17px, rgba(70, 40, 0, 0.3) 17px, rgba(70, 40, 0, 0.3) 18px, transparent 18px
		);

	background-image: -webkit-linear-gradient(
			-45deg, 
			#F0F048 6px, rgba(70, 40, 0, 0.3) 6px, rgba(70, 40, 0, 0.3) 7px, transparent 7px, 
			transparent 17px, rgba(70, 40, 0, 0.3) 17px, rgba(70, 40, 0, 0.3) 18px, transparent 18px
		),
		-webkit-linear-gradient(
			225deg, 
			#F0F048 5px, rgba(70, 40, 0, 0.3) 5px, rgba(70, 40, 0, 0.3) 6px, transparent 6px
		),
		-webkit-linear-gradient(
			225deg, 
			transparent 17px, rgba(70, 40, 0, 0.3) 17px, rgba(70, 40, 0, 0.3) 18px, transparent 18px
		);

	background-position: 0 0, 0 16px, 0 15px;
	background-size: 16px 32px;
}
