name: Native Image Quick Start Pipeline
on:
  push:
    paths:
      - 'native-image/native-image-quick-start/lab/**'
      - '.github/workflows/github-actions-native-image-quickstart.yml'
jobs:
  build:
    name: Native Image Quickstart on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v2

      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Test Java Code
        run: |
          cd native-image/native-image-quick-start/lab/
          ./mvnw --no-transfer-progress clean package exec:exec
          java -agentlib:native-image-agent=config-output-dir=./src/main/resources/META-INF/native-image -cp ./target/graalvmnidemos-1.0-SNAPSHOT-jar-with-dependencies.jar serialization.App
          ./mvnw --no-transfer-progress package -Pnative
          ./target/file-count